Source: kde-l10n
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>
Build-Depends: debhelper (>= 5), cmake, bzip2, kdelibs5-dev (>= 4:3.96.0)
Standards-Version: 3.7.2
Homepage: http://i18n.kde.org/

Package: kde-l10n-ar
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ar
Suggests: kde
Conflicts: kde-i18n-ar
Provides: kde-i18n
Description: Arabic (ar) localization files for KDE
 This package contains the Arabic localization files for all KDE core 
 applications.

Package: kde-l10n-bg
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-bg
Suggests: kde
Conflicts: kde-i18n-bg
Provides: kde-i18n
Description: Bulgarian (bg) localization files for KDE
 This package contains the Bulgarian localization files for all KDE core 
 applications.

Package: kde-l10n-ca
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ca
Suggests: kde
Conflicts: kde-i18n-ca
Provides: kde-i18n
Description: Catalan (ca) localization files for KDE
 This package contains the Catalan localization files for all KDE core 
 applications.

Package: kde-l10n-cs
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-cs
Suggests: kde
Conflicts: kde-i18n-cs
Provides: kde-i18n
Description: Czech (cs) localization files for KDE
 This package contains the Czech localization files for all KDE core 
 applications.

Package: kde-l10n-csb
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-csb
Suggests: kde
Conflicts: kde-i18n-csb
Provides: kde-i18n
Description: Kashubian (csb) localization files for KDE
 This package contains the Kashubian localization files for all KDE core 
 applications.

Package: kde-l10n-da
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-da
Suggests: kde
Conflicts: kde-i18n-da
Provides: kde-i18n
Description: Danish (da) localization files for KDE
 This package contains the Danish localization files for all KDE core 
 applications.

Package: kde-l10n-de
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-de
Suggests: kde
Conflicts: kde-i18n-de
Provides: kde-i18n
Description: German (de) localization files for KDE
 This package contains the German localization files for all KDE core 
 applications.

Package: kde-l10n-el
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-el
Suggests: kde
Conflicts: kde-i18n-el
Provides: kde-i18n
Description: Greek (el) localization files for KDE
 This package contains the Greek localization files for all KDE core 
 applications.

Package: kde-l10n-engb
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-engb
Suggests: kde
Conflicts: kde-i18n-engb
Provides: kde-i18n
Description: British English (en_GB) localization files for KDE
 This package contains the British English localization files for all KDE core 
 applications.

Package: kde-l10n-es
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-es
Suggests: kde
Conflicts: kde-i18n-es
Provides: kde-i18n
Description: Spanish (es) localization files for KDE
 This package contains the Spanish localization files for all KDE core 
 applications.

Package: kde-l10n-et
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-et
Suggests: kde
Conflicts: kde-i18n-et
Provides: kde-i18n
Description: Estonian (et) localization files for KDE
 This package contains the Estonian localization files for all KDE core 
 applications.

Package: kde-l10n-eu
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-eu
Suggests: kde
Conflicts: kde-i18n-eu
Provides: kde-i18n
Description: Basque (eu) localization files for KDE
 This package contains the Basque localization files for all KDE core 
 applications.

Package: kde-l10n-fa
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-fa
Suggests: kde
Conflicts: kde-i18n-fa
Provides: kde-i18n
Description: Farsi (fa) localization files for KDE
 This package contains the Farsi localization files for all KDE core 
 applications.

Package: kde-l10n-fi
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-fi
Suggests: kde
Conflicts: kde-i18n-fi
Provides: kde-i18n
Description: Finnish (fi) localization files for KDE
 This package contains the Finnish localization files for all KDE core 
 applications.

Package: kde-l10n-fr
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-fr
Suggests: kde
Conflicts: kde-i18n-fr
Provides: kde-i18n
Description: French (fr) localization files for KDE
 This package contains the French localization files for all KDE core 
 applications.

Package: kde-l10n-fy
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-fy
Suggests: kde
Conflicts: kde-i18n-fy
Provides: kde-i18n
Description: Frisian (fr) localization files for KDE
 This package contains the Frisian localization files for all KDE core 
 applications.

Package: kde-l10n-ga
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ga
Suggests: kde
Conflicts: kde-i18n-ga
Provides: kde-i18n
Description: Irish Gaelic (ga) localization files for KDE
 This package contains the Irish Gaelic localization files for all KDE core 
 applications.

Package: kde-l10n-gl
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-gl
Suggests: kde
Conflicts: kde-i18n-gl
Provides: kde-i18n
Description: Galician (gl) localization files for KDE
 This package contains the Galician localization files for all KDE core 
 applications.

Package: kde-l10n-hu
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-hu
Suggests: kde
Conflicts: kde-i18n-hu
Provides: kde-i18n
Description: Hungarian (hu) localization files for KDE
 This package contains the Hungarian localization files for all KDE core 
 applications.

Package: kde-l10n-it
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-it
Suggests: kde
Conflicts: kde-i18n-it
Provides: kde-i18n
Description: Italian (it) localization files for KDE
 This package contains the Italian localization files for all KDE core 
 applications.

Package: kde-l10n-ja
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ja
Suggests: kde
Conflicts: kde-i18n-ja
Provides: kde-i18n
Description: Japanese (ja) localization files for KDE
 This package contains the Japanese localization files for all KDE core 
 applications.

Package: kde-l10n-km
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-km
Suggests: kde
Conflicts: kde-i18n-km
Provides: kde-i18n
Description: Khmer (km) localization files for KDE
 This package contains the Khmer localization files for all KDE core 
 applications.

Package: kde-l10n-nb
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-nb
Suggests: kde
Conflicts: kde-i18n-nb
Provides: kde-i18n
Description: Norwegian Bookmal (nb) localization files for KDE
 This package contains the Norwegian Bookma localization files for all KDE core 
 applications.

Package: kde-l10n-nds
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-nds
Suggests: kde
Conflicts: kde-i18n-nds
Provides: kde-i18n
Description: Low Saxon (nds) localization files for KDE
 This package contains the Low Saxon localization files for all KDE core 
 applications.

Package: kde-l10n-ne
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ne
Suggests: kde
Conflicts: kde-i18n-ne
Provides: kde-i18n
Description: Nepali (ne) localization files for KDE
 This package contains the Nepali localization files for all KDE core 
 applications.

Package: kde-l10n-nl
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-nl
Suggests: kde
Conflicts: kde-i18n-nl
Provides: kde-i18n
Description: Dutch (nl) localization files for KDE
 This package contains the Dutch localization files for all KDE core 
 applications.

Package: kde-l10n-nn
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-nn
Suggests: kde
Conflicts: kde-i18n-nn
Provides: kde-i18n
Description: Norwegian Nynorsk (nn) localization files for KDE
 This package contains the Norwegian Nynorsk localization files for all KDE core 
 applications.

Package: kde-l10n-pa
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-pa
Suggests: kde
Conflicts: kde-i18n-pa
Provides: kde-i18n
Description: Punjabi (pa) localization files for KDE
 This package contains the Punjabi localization files for all KDE core 
 applications.

Package: kde-l10n-pl
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-pl
Suggests: kde
Conflicts: kde-i18n-pl
Provides: kde-i18n
Description: Polish (pl) localization files for KDE
 This package contains the Polish localization files for all KDE core 
 applications.

Package: kde-l10n-pt
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-pt
Suggests: kde
Conflicts: kde-i18n-pt
Provides: kde-i18n
Description: Portuguese (pt) localization files for KDE
 This package contains the Portuguese localization files for all KDE core 
 applications.

Package: kde-l10n-ptbr
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ptbr
Suggests: kde
Conflicts: kde-i18n-ptbr
Provides: kde-i18n
Description: Brazilian Portuguese (pt_BR) localization files for KDE
 This package contains the Brazilian Portuguese localization files for all KDE core 
 applications.

Package: kde-l10n-ru
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ru
Suggests: kde
Conflicts: kde-i18n-ru
Provides: kde-i18n
Description: Russian (ru) localization files for KDE
 This package contains the Russian localization files for all KDE core 
 applications.

Package: kde-l10n-sk
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-sk
Suggests: kde
Conflicts: kde-i18n-sk
Provides: kde-i18n
Description: Slovak (sk) localization fles for KDE
 This package contains the Slovak localization files for all KDE core 
 applications.

Package: kde-l10n-sl
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-sl
Suggests: kde
Conflicts: kde-i18n-sl
Provides: kde-i18n
Description: Slovenian (sl) localization files for KDE
 This package contains the Slovenian localization files for all KDE core 
 applications.

Package: kde-l10n-sv
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-sv
Suggests: kde
Conflicts: kde-i18n-sv
Provides: kde-i18n
Description: Swedish (sv) localization files for KDE
 This package contains the Swedish localization files for all KDE core 
 applications.

Package: kde-l10n-ta
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-ta
Suggests: kde
Conflicts: kde-i18n-ta
Provides: kde-i18n
Description: Tamil (ta) localization files for KDE
 This package contains the Tamil localization files for all KDE core 
 applications.

Package: kde-l10n-tg
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-tg
Suggests: kde
Conflicts: kde-i18n-tg
Provides: kde-i18n
Description: Tajik (tg) localization files for KDE
 This package contains the Tajik localization files for all KDE core 
 applications.


Package: kde-l10n-th
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-th
Suggests: kde
Conflicts: kde-i18n-th
Provides: kde-i18n
Description: Thai (th) localization files for KDE
 This package contains the Thai localization files for all KDE core 
 applications.

Package: kde-l10n-tr
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-tr
Suggests: kde
Conflicts: kde-i18n-tr
Provides: kde-i18n
Description: Turkish (tr) localization files for KDE
 This package contains the Turkish localization files for all KDE core 
 applications.

Package: kde-l10n-uk
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-uk
Suggests: kde
Conflicts: kde-i18n-uk
Provides: kde-i18n
Description: Ukrainian (uk) localization files for KDE
 This package contains the Ukrainian localization files for all KDE core 
 applications.

Package: kde-l10n-zhcn
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-zhcn
Suggests: kde
Conflicts: kde-i18n-zhcn
Provides: kde-i18n
Description: Chinese Simplified (zh_CN) localization files for KDE
 This package contains the Chinese Simplified localization files for all KDE core 
 applications.

Package: kde-l10n-zhtw
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:3.96.0)
Replaces: kde-i18n-zhtw
Suggests: kde
Conflicts: kde-i18n-zhtw
Provides: kde-i18n
Description: Chinese Traditional (zh_TW) localization files for KDE
 This package contains the Chinese Traditional localization files for all KDE core 
 applications.

