Source: kde-l10n
Section: localization
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Modestas Vainius <modax@debian.org>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: bzip2,
               cmake,
               debhelper (>= 9),
               kde-sc-dev-latest (>= 4:4.11),
               kdelibs5-dev (>= 4:4.11),
               kdoctools (>= 4:4.11)
Standards-Version: 3.9.5
Homepage: http://i18n.kde.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/kde-l10n.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/kde-l10n.git

Package: kde-l10n-ar
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ar (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ar (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Arabic (ar) localization files for KDE
 This package contains the Arabic translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-bg
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-bg (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-bg (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Bulgarian (bg) localization files for KDE
 This package contains the Bulgarian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-bs
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-bs (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-bs (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Bosnian (bs) localization files for KDE
 This package contains the Bosnian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ca
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ca (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ca (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Catalan (ca) localization files for KDE
 This package contains the Catalan translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-cavalencia
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-cavalencia (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-cavalencia (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Southern Catalan (Valencian) (ca@valencia) files for KDE
 This package contains the Southern Catalan (Valencian) translations for
 applications from the official KDE Software Compilation release.

Package: kde-l10n-cs
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-cs (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-cs (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Czech (cs) localization files for KDE
 This package contains the Czech translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-da
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-da (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-da (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Danish (da) localization files for KDE
 This package contains the Danish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-de
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-de (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-de (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: German (de) localization files for KDE
 This package contains the German translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-el
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-el (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-el (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Greek (el) localization files for KDE
 This package contains the Greek translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-engb
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-engb (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-engb (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: British English (en_GB) localization files for KDE
 This package contains the British English translations for applications
 from the official KDE Software Compilation release.

Package: kde-l10n-es
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-es (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-es (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Spanish (es) localization files for KDE
 This package contains the Spanish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-et
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-et (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-et (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Estonian (et) localization files for KDE
 This package contains the Estonian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-eu
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-eu (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-eu (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Basque (eu) localization files for KDE
 This package contains the Basque translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-fi
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-fi (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-fi (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Finnish (fi) localization files for KDE
 This package contains the Finnish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-fr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-fr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-fr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: French (fr) localization files for KDE
 This package contains the French translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ga
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ga (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ga (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Irish Gaelic (ga) localization files for KDE
 This package contains the Irish Gaelic translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-gl
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-gl (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-gl (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Galician (gl) localization files for KDE
 This package contains the Galician translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-he
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-he (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-he (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Hebrew (he) localization files for KDE
 This package contains the Hebrew translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-hi
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-hi (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-hi (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Hindi (hi) localization files for KDE
 This package contains the Hindi translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-hr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-hr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-hr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Croatian (hr) localization files for KDE
 This package contains the Croatian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-hu
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-hu (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-hu (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Hungarian (hu) localization files for KDE
 This package contains the Hungarian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ia
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ia (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ia (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Interlingua (ia) localization files for KDE
 This package contains the Interlingua translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-id
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Provides: ${kde-l10n:Provides}
Description: Indonesian (id) localization files for KDE
 This package contains the Indonesian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-is
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-is (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-is (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Icelandic (is) localization files for KDE
 This package contains the Icelandic translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-it
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-it (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-it (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Italian (it) localization files for KDE
 This package contains the Italian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ja
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ja (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ja (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Japanese (ja) localization files for KDE
 This package contains the Japanese translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-kk
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-kk (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-kk (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Kazakh (kk) localization files for KDE
 This package contains the Kazakh translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-km
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-km (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-km (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Khmer (km) localization files for KDE
 This package contains the Khmer translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ko
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ko (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ko (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Korean (ko) localization files for KDE
 This package contains the Korean translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-lt
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-lt (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-lt (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Lithuanian (lt) localization files for KDE
 This package contains the Lithuanian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-lv
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-lv (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-lv (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Latvian (lv) localization files for KDE
 This package contains the Latvian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-mr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-mr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-mr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Marathi (mr) localization files for KDE
 This package contains the Marathi translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-nb
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-nb (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-nb (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Norwegian Bookmal (nb) localization files for KDE
 This package contains the Norwegian Bookma translations for applications
 from the official KDE Software Compilation release.

Package: kde-l10n-nds
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-nds (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-nds (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Low Saxon (nds) localization files for KDE
 This package contains the Low Saxon translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-nl
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-nl (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-nl (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Dutch (nl) localization files for KDE
 This package contains the Dutch translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-nn
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-nn (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-nn (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Norwegian Nynorsk (nn) localization files for KDE
 This package contains the Norwegian Nynorsk translations for applications
 from the official KDE Software Compilation release.

Package: kde-l10n-pa
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-pa (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-pa (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Punjabi (pa) localization files for KDE
 This package contains the Punjabi translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-pl
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-pl (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-pl (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Polish (pl) localization files for KDE
 This package contains the Polish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-pt
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-pt (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-pt (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Portuguese (pt) localization files for KDE
 This package contains the Portuguese translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ptbr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ptbr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ptbr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Brazilian Portuguese (pt_BR) localization files for KDE
 This package contains the Brazilian Portuguese translations for applications
 from the official KDE Software Compilation release.

Package: kde-l10n-ro
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ro (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ro (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Romanian (ro) localization files for KDE
 This package contains the Romanian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ru
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ru (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ru (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Russian (ru) localization files for KDE
 This package contains the Russian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-sk
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-sk (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-sk (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Slovakian (sk) localization files for KDE
 This package contains the Slovakian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-sl
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-sl (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-sl (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Slovenian (sl) localization files for KDE
 This package contains the Slovenian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-sr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-sr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-sr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Serbian (sr) localization files for KDE
 This package contains the Serbian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-sv
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-sv (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-sv (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Swedish (sv) localization files for KDE
 This package contains the Swedish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-tr
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-tr (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-tr (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Turkish (tr) localization files for KDE
 This package contains the Turkish translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-ug
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-ug (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-ug (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Uygur (ug) localization files for KDE
 This package contains the Uygur translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-uk
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-uk (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-uk (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Ukrainian (uk) localization files for KDE
 This package contains the Ukrainian translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-vi
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-vi (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-vi (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Vietnamese (vi) localization files for KDE
 This package contains the Vietnamese translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-wa
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-wa (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-wa (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Walloon (wa) localization files for KDE
 This package contains the Walloon translations for applications from the
 official KDE Software Compilation release.

Package: kde-l10n-zhcn
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-zhcn (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-zhcn (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Chinese Simplified (zh_CN) localization files for KDE
 This package contains the Chinese Simplified translations for applications
 from the official KDE Software Compilation release.

Package: kde-l10n-zhtw
Architecture: all
Depends: ${kde-l10n:Depends}, ${misc:Depends}
Recommends: ${kde-l10n:Recommends}
Suggests: ${kde-l10n:Suggests}
Replaces: kde-i18n-zhtw (<< 4:3.95.0-1), ${kde-l10n:Replaces}
Breaks: kde-i18n-zhtw (<< 4:3.95.0-1), ${kde-l10n:Breaks}
Provides: ${kde-l10n:Provides}
Description: Chinese Traditional (zh_TW) localization files for KDE
 This package contains the Chinese Traditional translations for applications
 from the official KDE Software Compilation release.
