#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_UPSTREAM_VERSION=4.0.0


configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	
	# extract the bzip2 languages
	-for i in `ls -1 kde-l10n*.bz2`;do \
		tar xfj $$i;\
	done

	# configure every language
	-for j in `ls -1d kde-l10n-*-$(DEB_UPSTREAM_VERSION)/`; do \
		pwd;cd $$j;\
		cmake . -DCMAKE_INSTALL_PREFIX="/usr" -DCMAKE_VERBOSE_MAKEFILE=ON; \
		$(MAKE); \
		cd ..; \
	done

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf kde-l10n-*-$(DEB_UPSTREAM_VERSION) debian/kde-l10n/*
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs


	-for i in `ls -1d kde-l10n-*-$(DEB_UPSTREAM_VERSION)/`; do \
		cd $$i; \
		$(MAKE) install DESTDIR=`pwd`/../debian/`echo $$i|sed -e "s/-$(DEB_UPSTREAM_VERSION)//"`; \
		cd ..; \
	done


    # copying the non 2 letter languages into the correct directory
	cp -aR debian/kde-l10n-en_GB/* debian/kde-l10n-engb/
	cp -aR debian/kde-l10n-pt_BR/* debian/kde-l10n-ptbr/
	cp -aR debian/kde-l10n-zh_CN/* debian/kde-l10n-zhcn/
	cp -aR debian/kde-l10n-zh_TW/* debian/kde-l10n-zhtw/


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
